# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Output files
*.docx
*.doc

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
temp/

"LAMPIRAN WAHYU/"
LAMPIRAN WAHYU/1. Izin uji coba/1864 - Wahyu gemilang ramadhan (Ijin Uji Instrumen).pdf
LAMPIRAN WAHYU/1. Izin uji coba/1865 - Wahyu gemilang ramadhan (Ijin Uji Instrumen).pdf
LAMPIRAN WAHYU/1. Izin uji coba/1869 - Wahyu gemilang ramadhan (Ijin Uji Instrumen).pdf
LAMPIRAN WAHYU/1. Izin uji coba/1995 - Wahyu gemilang ramadhan (Ijin Uji Instrumen).pdf
LAMPIRAN WAHYU/1. Izin uji coba/1996 - Wahyu gemilang ramadhan (Ijin Uji Instrumen).pdf
LAMPIRAN WAHYU/1. Izin uji coba/2055 - Wahyu gemilang ramadhan (Ijin Uji Instrumen).pdf
LAMPIRAN WAHYU/2. Surat izin observasi/2637 - Wahyu gemilang ramadhan (Observasi Penelitian TA).pdf
LAMPIRAN WAHYU/2. Surat izin observasi/MTSN 13 IMY.pdf
LAMPIRAN WAHYU/2. Surat izin observasi/SMK NU SUKAGUMIWANG.pdf
LAMPIRAN WAHYU/2. Surat izin observasi/SMK PONPES.pdf
LAMPIRAN WAHYU/2. Surat izin observasi/SMP 1 SUKAGUMIWANG.pdf
LAMPIRAN WAHYU/2. Surat izin observasi/SMP 2 SUKAGUMIWANG.pdf
LAMPIRAN WAHYU/3. Surat izin penelitian (-1)/bcf0c200-7701-4552-9cde-2ef08746efdf.jpg
LAMPIRAN WAHYU/3. Surat izin penelitian (-1)/IMG_4183.JPG
LAMPIRAN WAHYU/3. Surat izin penelitian (-1)/IMG_4184.JPG
LAMPIRAN WAHYU/3. Surat izin penelitian (-1)/IMG_4187.JPG
LAMPIRAN WAHYU/3. Surat izin penelitian (-1)/IMG_4203.JPG
LAMPIRAN WAHYU/4. Surat Balasan Sekolah Uji Instrumen (Kertasmaya) (-1)/5f05ea33-ba91-4248-86da-689b289b77b7.jpg
LAMPIRAN WAHYU/4. Surat Balasan Sekolah Uji Instrumen (Kertasmaya) (-1)/Surat balasan Observasi Penelitian Univ Singaperbangsa Karawang.pdf
LAMPIRAN WAHYU/4. Surat Balasan Sekolah Uji Instrumen (Kertasmaya) (-1)/Surat Keterangan selesai Uji Instrumen 2.pdf
LAMPIRAN WAHYU/4. Surat Balasan Sekolah Uji Instrumen (Kertasmaya) (-1)/Surat Keterangan selesai Uji Instrumen.pdf
LAMPIRAN WAHYU/4. Surat Balasan Sekolah Uji Instrumen (Kertasmaya) (-1)/untuk pa aris (1).pdf
LAMPIRAN WAHYU/5. Surat Balasan Penelitian (Sukabumiwang) (-1)/CamScanner 18-06-2026 07.20.pdf
LAMPIRAN WAHYU/5. Surat Balasan Penelitian (Sukabumiwang) (-1)/CamScanner 29-06-2026 14.23.pdf
LAMPIRAN WAHYU/5. Surat Balasan Penelitian (Sukabumiwang) (-1)/smk nu.pdf
LAMPIRAN WAHYU/5. Surat Balasan Penelitian (Sukabumiwang) (-1)/Surat balasan penelitian.pdf
LAMPIRAN WAHYU/5. Surat Balasan Penelitian (Sukabumiwang) (-1)/Surat.pdf
